<?xml version="1.0" encoding="utf-8"?>
<manifest package="ayds.spotisong.terminus"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/spotisong"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name="ayds.spotisong.terminus.song.view.SearchSongActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="ayds.spotisong.terminus.otherdetails.fulllogic.OtherInfoActivity" />
  </application>

</manifest>